<section class="empty-table">
  <div>
    <img src="{{ asset("assets/imgs/utilities/empty-folder.png")}}" height="200">
  </div>
  <div>
    <h2>Créer votre premier {{ itemName }}</h2>
    <p>Vous n'avez aucun {{ itemName }} pour l'instant. Vous pouvez en ajouter manuellement</p>
    <a class="btn-i btn-i-main text-bold-bold" href="{{ path(add_path) }}">
      + Ajouter un {{ itemName}}
    </a>
  </div>
</section>