<div class="input-labelled input-framed">
  <div class="input-body">
    <label class="drop-container" for="{{ input.vars.id }}">
      <span class="fs-lg fw-medium">{{ input.vars.label }}</span>
      ou
      {{form_widget(input, {'attr': {'class': 'input-file'} }) }} 
    </label>
    {{form_help(input, {'attr': {'class': ''} }) }}
    <div class="errors-list">
      {{form_errors(input, {'attr': {'class': ''} }) }} 
    </div>
    {% if imgs|length > 0 %}
      <div class="flex flexd-r flexj-c mt-sm">
      {% for img in imgs %}
        <div class="flex flexj-c mt-sm">
          <img src={{ img.file }} width='300' style="object-fit: contain"
          {% if delete is defined and delete %}
          href="{{ path('app_realizations_photo_remove', {id:img.id}) }}"
          data-delete
          data-token="{{ csrf_token('delete' ~ img.id) }}"
          {% endif %}
          >
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>

</div>