<section class="section-table">
  <div class="table-title">
    <h2 class="mb-lg">
       {% block ttitle %}{% endblock %}
    </h2>
  </div>

  <div class="table-recap">
  {% if recap is defined %}
    {% for stats in recap %}
      <div class="table-recap-item">
        <div class="table-recap-item-title">
          <img height="20px" src="{{ asset('assets/imgs/IconRecap/' ~ stats.icon) }}"/> 
          <h4>{{ stats.title }}</h4>
        </div>
        <p class="table-recap-item-value">{{ stats.value }}  <span>{{ itemName }}{% if stats.value > 1 %}s{% endif %}</span></p>
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="table-wrapper"> 
    <table class="table">
      <thead class="">
        <tr>
          <th class="center" scope="col" width="100px">ID</th>
          {% for column in columns %}
            <th scope="col">{{ column }}</th>
          {% endfor %}
          <th scope="col" width="50px"></th>
        </tr>
      </thead>
      <tbody class="">
      {% block tbody %}

      {% endblock %}
      </tbody>
    </table>
  </div>
  {% include '_partials/_pagination.html.twig' %}
</section>