<section class="section-table">
  <div class="align-self-start w-100 d-flex justify-content-between align-items-center">
    <h2 class="fs-3 text-uppercase">
       {% block ttitle %}{% endblock %}
    </h2>
    {% if add_path is defined %}
      {% if add_path == "" %}
      {% else %}
      <a class="btn-i btn-i-main text-bold-bold" href="{{ path(add_path) }}">
        + Ajouter
      </a>
      {% endif %}
    {% else %}
    {% block addPath %}{% endblock %}
    {% endif %}
  </div>

  <div class="table-recap">
  {% if recap is defined %}
    {% for stats in recap %}
      <div class="table-recap-item">
        <div class="table-recap-item-title">
          <img height="20px" src="{{ asset('assets/imgs/IconRecap/' ~ stats.icon) }}"/> 
          <h4>{{ stats.title }}</h4>
        </div>
        <p class="table-recap-item-value">{{ stats.value }}  <span>{{ itemName }}{% if stats.value > 1 %}s{% endif %}</span></p>
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="table-wrapper"> 
    <table class="table-i">
      <thead class="">
        <tr>
          <th class="text-center" scope="col" width="150px">ID</th>
          {% for column in columns %}
            <th scope="col">{{ column }}</th>
          {% endfor %}
          <th scope="col" width="100px"></th>
        </tr>
      </thead>
      <tbody class="">
      {% block tbody %}

      {% endblock %}
      </tbody>
    </table>
  </div>
  {% include '_partials/_pagination.html.twig' %}
</section>