{% extends 'base.html.twig' %}

{% block title %}Portail Injject Marketing - Clients{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/tomSelect/tom-select/js/tom-select.complete.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/tomSelect/tom-select/css/tom-select.css') }}">
{% endblock %}

{% block deferjavascripts %}
<script src="{{ asset('assets/tomSelect/tomSelect.js') }}"></script>
{% endblock %}

{% block body %}
  {{ form_start (form, {'attr': {'class': 'form', 'id': 'customer_form'}}) }}
    <a class="btn filled-main btn-sm" href="{{ path('app_customers') }}">Retour</a>
    <div class="flex flexd-row flexj-sb flexa-c">
      <h1>{{ title_form|default("Formulaire") }}</h1>
      <div>
        <input class="btn filled-main btn-md" type="submit" name="save" value="Sauvegarder" form="customer_form">
      </div>
    </div>

    {% set imgs = [] %}
    {% include "_partials/_form.html.twig" %}
  {{ form_end (form)}}
{% endblock %}
